<div class="calculator">
    <div class="display-cnt form-control">
        <span class="display">0</span>
    </div>

    <div class="row">
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="7"><span>7</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="8"><span>8</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="9"><span>9</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="/"><span>รท</span></a>
    </div>
    <div class="row">
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="4"><span>4</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="5"><span>5</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="6"><span>6</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="*"><span>ร</span></a>
    </div>
    <div class="row">
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="1"><span>1</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="2"><span>2</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="3"><span>3</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="-"><span>-</span></a>
    </div>
    <div class="row">
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="0"><span>0</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="."><span>.</span></a>
        <a href="#" class="btn btn-default btn-lg btn-primary" role="button" data-calculator-button="="><span>=</span></a>
        <a href="#" class="btn btn-default btn-lg" role="button" data-calculator-button="+"><span>+</span></a>
    </div>
    <div class="row">
        <a href="#" class="btn btn-warning btn-lg" role="button" data-calculator-button="ce"><span>CE</span></a>
    </div>
</div>
